@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    font-family: 'Press Start 2P';
    font: 400;
}

@media (max-height: 700px) and (max-width: 1040px){
    .header{
        font-size: 12px;

    }
    .section1{
        font-size: 12px;
    }
    .section2{
        font-size: 12px;
    }
    .footer{
        font-size: 12px;
        width: 100px;
    }
}



.container{
        background-color: #424242;
}

/*код заголовка*/
.header{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.button{
    text-align: center;
    color: black;
    background-color: #d9d9d9;
    width: 215px;
    height: 25px;
    border-radius: 25px;
    margin: 20px;    
}

.button:hover{
    transition-property: color;
    color: #ff0101;
}

.button_more{
    text-align: center;
    color: black;
    background-color: #d9d9d9;
    width: 215px;
    height: 25px;
    border-radius: 25px;
    margin: 20px;
}

.button_more:hover{
    transition-property: color;
    color: #ff0101;
}

.logo{
    text-align: center;
    color: black;
    background-color: #d9d9d9;
    width: 215px;
    height: 85px;
    margin: 20px;
}
/*здесь заканчивается код с заголовком*/

/*код секций с анонсами*/
.section1{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1{
    color: white;
    text-align: center;
}

.block1{
    width: 255px;
    height: 115px;
    border-radius: 25px;
    list-style-type: none;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.news{
    margin-right: 27.5%;
}

.button_check{
    color: black;
    background-color: #686868;
    width: 100px;
    height: 15px;
    border-radius: 25px;
    margin-top: 15%;
    margin-right: 15%;
}

.block2{
    width: 450px;
    height: 150px;
    border-radius: 25px;
    list-style-type: none;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.telegram{
    color: black;
    text-align: center;
    margin-right: 10%;    
}

.button_join{
    color: black;
    background-color: #686868;
    width: 100px;
    height: 20px;
    border-radius: 25px;
    margin-top: 5%;
    margin-right: 5%;
}

.block3{
    width: 255px;
    height: 115px;
    border-radius: 25px;
    list-style-type: none;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_link{
    color: black;
    background-color: #686868;
    width: 100px;
    height: 20px;
    border-radius: 25px;
    margin-top: 5%;
    margin-right: 5%;
}

.button_check:hover{
    transition-property: color, background-color, border;
    color: #ff0101;
    background-color: #404040;
}

.button_join:hover{
    transition-property: color, background-color, border;
    color: #ff0101;
    background-color: #404040;
}

.button_link:hover{
    transition-property: color, background-color, border;
    color: #ff0101;
    background-color: #404040;
}
/*здесь закончился код с секцией с анонсами*/

/*код с секцией магазина*/
h2{
    color: white;
    text-align: center;
}

.section2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.block_1{
    width: 350px; height: 200px;
    color: black;
    background-color: #d9d9d9;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    
}

.title{
    text-align: center;
}

.icons{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.square{
    background-color: #414141;
    text-align: center;
    width: 85px; height: 85px;
    border-radius: 25px;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: center;
    align-items: center;
}

.block_2{
    width: 350px; height: 200px;
    color: black;
    background-color: #d0d0d0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.see_more{
    text-align: center;
}

.warn{
    text-align: center;
    color: #ff0101;
}

.sign_or_login{
    text-align: center;
    color: #ff0101;
}

span:hover{
    transition-property: width, height, color, background-color, border;
    width: 50px; height: 35px;
    color: #cccccc;
    background-color:#aa0f0f;
}

span{
    color: white;
    background-color: #ff0101;
    width: auto;
    height: 20px;
    border-radius: 25px;
}

h3{
    color: white;
    text-align: center;
}
/*здесь заканчивается код секции магазина*/

/*конечная и не особо интересная секция с "подвалом"*/
.footer{
    background-color: #d9d9d9;
    width: 1830px; height: 250px;
    justify-content: center;
    border-radius: 25px;
}

.end{
    list-style-type: none;
    color: rgba(85, 85, 85, 0.95);
    text-align: center;
}

.end_button{
    background-color: rgba(65, 65, 65, 0.95);
    color: black;
    border-radius: 25px;
    width: auto; height: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
}
/*здесь кончается код в принципе*/